@model IEnumerable<SitioUnoCRUD.Models.Department>

@{
    ViewBag.Title = "Departamentos";
}

<h2>Departamentos: </h2>

<p>
    @Html.ActionLink("Crear nuevo Departamento", "Create")
</p>
<table class="table">
    <tr>
        <th>
           Nombre del departamento
        </th>
        <th>
            Area
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.area)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id = item._id }) |
            @Html.ActionLink("Detalles", "Details", new { id = item._id }) |
            @Html.ActionLink("Eliminar", "Delete", new { id = item._id }) |
            @Html.ActionLink("Añadir Trabajador", "AddWorkerToApartment") |
        </td>
    </tr>
}

</table>
